	  
	  .mail:before {
		content: "\2709";
		font-family: 'Glyphicons Halflings';
		float: left;
		margin-right: 2em;
	  }
	  
	  .web:before {
		content: "\e135";
		font-family: 'Glyphicons Halflings';
		float: left;
		margin-right: 2em;
	  }
	  
	  .linkedin:before {
		content: "\e008";
		font-family: 'Glyphicons Halflings';
		float: left;
		margin-right: 2em;
	  }
		
		.pubs:before {
		content: "\e043";
		font-family: 'Glyphicons Halflings';
		float: left;
		margin-right: 2em;
	  }
	  
	  .location:before {
		content: "\e062";
		font-family: 'Glyphicons Halflings';
		float: left;
		margin-right: 2em;
	  }
	  
	  .mail, .web, .linkedin, .location, .pubs {
		display: block;
		margin-bottom: 1em;
	  }
		
html {
  position: relative;
  min-height: 100%;
}
body {
    padding-top: 0px;
    margin-bottom: 60px;
    font-size: 15px;
    background-color: black;
    color: white;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: black;
}
.footer > .container {
    margin-top: 20px;
}
.page-header {
    padding-top: 30px;
    margin-top: 0px;
}

.list-group-item:hover {
    text-decoration: none;
    background-color: #ffcdcd;
}

/*NAV-BAR RELATED*/

.navbar {
    font-size: x-large;
    font-family: 'Crimson Text', serif;
    background-color: black;
    font-weight: 400;
    color: white;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, black 0,black 100%);
    border-color: black;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand {
    cursor:default; 
    margin: 0px;
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: xx-large;
}
.navbar-nav>li>a {
    line-height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* unvisited link */
a:link {    
    color: lightskyblue;
    text-decoration: underline;
}
  
  /* visited link */
  a:visited {
    color: lightskyblue;
    text-decoration: underline;
  }
  
  /* mouse over link */
  a:hover {
    color: cornflowerblue;
    text-decoration: underline;

  }
  
  /* selected link */
  a:active {
    color: blue;
    text-decoration: underline;

  }

@media print {
    body {
        padding-top: 0px;
        margin-bottom: 0px;
    }
    
    .page-header {
        padding-top: 0px;
    }
}

/*headers*/
table, th, td {
    border: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    color: #a1a1a1;
}

.h1, h1 {
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: 36px;
}

.h3, h3 {
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: x-large;
}

.h4, h4 {
    color: white;
    display: inline;
    font-family: 'Crimson Text', serif;
    font-size: larger;
}

.h5, h5 {
  color: white;
  display: inline;
  font-family: 'Crimson Text', serif;
  font-size: larger;
}

footer {
    color: white;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
}

.blank-placeholder {
  width: 100%;
  height: 315px; /* Match the height of YouTube embed */
  background-color: #f0f0f0; /* Light grey or any other background color */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888; /* A subtle text color */
  font-size: 16px;
  text-align: center;
}

